<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LetterPop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E4847531D11A4DA00B12850</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E48476B1D11A4DB00B12850</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E4847761D11A4DB00B12850</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
